*{
    margin: 0;
    padding: 0;
}

#Titulo{
       font-family: sans-serif;
       color:  #696969;
       margin-left: 7%;
}

#Subtitulo{
    font-family: sans-serif;
    color:#696969 ;
    margin-left: 10%;
}

body{
     background-color: #F0F8FF;
     font-family: sans-serif;
     font-size: 1em;
     color: #696969;
     margin-left: 36%;
     margin-top: 2%;
     justify-content: center;
    
}

.campo{
     margin-bottom: 1em;
}

fieldset.grupo.campo{
        float: left;
        margin-right: 1em;
}















