body{
    background: linear-gradient(#000000,#c90e91,#000000,#c90e91,#000000,#c90e91,#000000);
    box-shadow: inset 0 0 1em gold, 0 0 1em red;
    text-align: center;
    font-style: normal;
    color: azure;

}
h1{
    font-family: sans-serif;
}
 

  .dropdown {
    position:relative;
    display: inline-block;
  }
  
  .dropdown-content {
    display:none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    padding: 12px 16px;
    z-index: 1;
  }
  
  .dropdown:hover .dropdown-content {
    display: block;
  }
  
  .button {
    background-color: #4CAF50;
    background-color:#FF0000 ;
    border-radius: 10px;
    border: none;
    border-radius: 15px;
    color: white;
   padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
  }
  
  .button:hover {
    background-color: #3e8e41
    
  }
  
  .button:active {
    background-color: #3e8e41;
    box-shadow: 0 5px #666;
    transform: translateY(4px);
  }
  /*menu em horizontal*/
    
  ul {
    list-style-type: none;
  }
  
  li {
    display: inline-block;
  }
*{
  padding: 0px;
  margin: 10px;
  box-sizing:content-box;
}
